.auth {
  width: 600px;
  border: 1px solid silver;
  padding: 15px;
  margin: 30px auto;
}

.loginForm {
  padding-right: 7px;
}

.loginForm > input {
  padding: 7px 0px;
  padding-left: 7px;
  border-radius: 4px;
  width: 100%;
  border-width: 1px;
  margin: 5px 0px;
}

.loginForm > button {
  margin-top: 15px;
}
